.cell {
  border: 1px solid lightgray;
  height: 100px;
  width: 100px;
  cursor: pointer;
}

.cell:hover{
  background: lightgray
}

.disabled {  
  cursor: not-allowed;
}

.disabled:hover {
  background: white;
}

.symbol {
  line-height: 100px;
  font-weight: bold;
  font-size: 32px;  
}

#board {
  border: 1px solid lightgray;
  width: 302px;
}